@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
.presentacion {
  background-color: #85cc9f;
  font-size: 1.5rem;
  text-align: center;
  width: 95%;
  margin-left: 3rem; }

.articulos {
  margin-top: 15vh; }

.articulos__lugares {
  width: 55rem;
  height: 40rem;
  border: solid 2px #004a26;
  border-radius: 20px;
  display: block;
  margin: 1rem;
  display: grid;
  grid-template-areas: "titulo titulo" "imagen texto" "boton boton"; }
  .articulos__lugares img {
    width: 25rem;
    height: 30rem;
    border-radius: 20px;
    margin: 1rem;
    grid-area: imagen; }
  .articulos__lugares .articulos__titulo {
    text-align: center;
    letter-spacing: 3px;
    grid-area: titulo;
    color: #004a26;
    font-size: 2rem; }
    .articulos__lugares .articulos__titulo a {
      font-weight: bold; }
      .articulos__lugares .articulos__titulo a:hover {
        color: #004a26; }
  .articulos__lugares button {
    width: 20rem; }
  .articulos__lugares .articulos__parrafo {
    overflow: hidden; }

.articulos__parrafo {
  font-size: 1.7rem;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: 25rem;
  height: 30rem;
  text-align: justify;
  grid-area: texto; }

main {
  grid-area: main; }

.costado {
  font-size: 2rem;
  grid-area: columnatres; }
  .costado select {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    background-color: #004a26;
    color: #fff6c9;
    padding: 4px;
    margin: 2px;
    border-radius: 10px; }

.sobreMi {
  width: 90rem;
  height: 48rem;
  text-align: center;
  padding: 5px;
  margin: 5rem auto 5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .sobreMi p {
    font-size: 2rem;
    border: solid 2px #499e8d;
    border-radius: 5%;
    padding: 1rem; }
  .sobreMi img {
    width: 30rem;
    height: 45rem;
    border-radius: 20px;
    margin: 0 3rem; }

.container-fluid {
  flex-direction: column; }

.form-control {
  border-radius: 2rem;
  font-size: 1.5rem;
  width: auto;
  margin: auto; }

.contacto {
  font-size: 2rem;
  margin: 2rem 20rem 10rem;
  text-align: center; }
  .contacto h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500; }
  .contacto input {
    display: inline-block; }

textarea {
  border-radius: 2rem;
  width: 70rem;
  margin: auto;
  text-align: center; }

.blog__articulos {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 2rem;
  border: solid 2px #004a26;
  border-radius: 20px;
  margin: 1rem; }
  .blog__articulos .articulos__parrafo {
    font-size: 1.7rem;
    display: inline-block;
    color: #004a26;
    overflow: hidden;
    width: auto;
    height: auto; }
  .blog__articulos img {
    width: 45rem;
    height: 30rem;
    border-radius: 20px; }

.blog {
  display: grid;
  grid-template-columns: repeat(3, 2fr); }

/*---COLUMNAS DIRECTORIO/INDEX---*/
.articulos {
  display: grid;
  grid-template-areas: "columnauno columnados columnatres" "columna1 columna2 columnatres" "columna-1 columna-2 columnatres";
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto auto; }

.columnaUno {
  grid-area: columnauno; }

.columna1 {
  grid-area: columna1; }

.columna-1 {
  grid-area: columna-1; }

.columnaDos {
  grid-area: columnados; }

.columna2 {
  grid-area: columna2; }

.columna-2 {
  grid-area: columna-2; }

.columnaTres {
  grid-area: columnatres; }

.columna3 {
  grid-area: columna3; }

/* ----------GENERALES---------- */
* {
  Margin: 0;
  Padding: 0;
  Box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fff6c9; }

h1 {
  display: inline-block;
  font-size: 7rem;
  text-align: center;
  font-weight: 400; }

h3 {
  font-size: 2rem;
  font-weight: 500; }

h4 {
  color: #004a26; }

/*---HEADER---*/
header {
  grid-area: header; }
  header nav {
    margin-bottom: 1rem;
    text-align: center; }

.navbar__link--style {
  font-weight: bold;
  color: #004a26; }

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20rem;
  margin-top: 2rem;
  height: 15rem; }
  .header__logo .logo {
    width: 30rem;
    display: inline-block;
    text-align: center; }

/*---BOTONES---*/
.button {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-image: linear-gradient(to left, #85cc9f, #004a26);
  color: #fff6c9;
  width: 20rem;
  border-radius: 10px;
  grid-area: boton;
  margin: auto; }
  .button:hover {
    transform: scale(1.1); }

/*---LISTA NAV---*/
ul li {
  display: inline-block; }

a {
  text-decoration: none;
  display: inline-block;
  list-style-type: lower-latin;
  color: #3e8362;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  margin: 8px;
  text-align: left; }
  a:hover {
    transform: scale(1.3);
    color: #004a26;
    font-weight: 400; }

/*---FOOTER---*/
footer {
  background-color: #3e8362;
  width: 100%;
  grid-area: footer;
  display: grid;
  grid-template-areas: "news nav" "copy copy";
  padding: 0 1rem;
  bottom: 0; }
  footer .news {
    font-size: 2rem;
    color: #fff6c9; }
    footer .news input {
      display: inline-block; }
    footer .news h3 {
      font-size: 2rem; }

.contactoFooter {
  position: fixed; }

.navFooter {
  color: #fff6c9;
  font-size: 2rem;
  text-align: center; }
  .navFooter a {
    color: #fff6c9;
    align-items: flex-end; }

.copy {
  color: #fff6c9;
  font-size: 2rem;
  justify-content: center;
  margin: auto;
  grid-area: copy; }

input:hover {
  transform: scale(1.1); }

/*---PÁGINA DE ERROR---*/
.error {
  background-color: white;
  text-align: center;
  display: block; }
  .error .imagen img {
    width: 50rem;
    height: 50rem; }
  .error .derechos {
    bottom: 0;
    position: fixed; }
    .error .derechos a {
      margin-left: 50rem; }

/* ---MQ INDEX--- */
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row; }
  .header__logo {
    text-align: left;
    margin: 5rem auto;
    height: 10rem; }
    .header__logo .logo {
      width: 15rem; }
  h1 {
    font-size: 5rem; }
  .presentacion {
    width: auto; }
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "columnatres columnatres"  "columnauno columnados"  "columna1 columna2"; }
    main .articulos__lugares {
      width: 35rem;
      height: 75rem;
      text-align: center;
      grid-template-areas: "titulo"  "imagen"  "texto" "boton"; }
      main .articulos__lugares img {
        margin-left: 5rem; }
      main .articulos__lugares .articulos__parrafo {
        margin-left: 5rem; }
  .prueba {
    position: absolute;
    top: 45vh;
    left: 20vw; }
  .prueba2 {
    position: absolute;
    background-color: rgba(255, 246, 201, 0.8);
    transition: 0.6s;
    z-index: 480;
    width: 15rem; } }
