.container-fluid {
    flex-direction: column;
}

.form-control {
    border-radius: 2rem;
    font-size: 1.5rem;
    width: auto;
    margin: auto;
}

.contacto {
    font-size: 2rem;
    margin: 2rem 20rem 10rem;
    text-align: center;
    
    h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }
    input{
        display: inline-block;
    }
}

textarea {
    border-radius: 2rem; 
    width: 70rem;
    margin: auto;
    text-align: center;
}  