@media only screen and (min-width: 360px) and (max-width: 768px){
    
    body{
        width: 100vw;
        margin-left: 0%;
        text-align: center;
    }
    
    header{
        display: flex;
        flex-direction: row;
        width: 50px;
        text-align: center;
        
        .header__logo{
            margin-left: 10rem;
        }
            .logo {
                width: 200px;
                margin-left: auto;
            }
            
        h1 {
            font-size: 5rem;
        }
        
    }
    
    .buscador{
        margin: 5rem 75rem 2rem 20rem;
        width: 60%;
        text-align: center;
        }
    
    .articulos{
        display: inline-block;
        width: 100vw;
        
        .divisionArticulosV{
            display: none;
        }
    }
    
    .blog{
        display: inline-block;
        
        .divisionArticulosV{
            display: none;
        }
    }
    
    .sobreMi{
        width: 70rem;
        border-radius: 20%;
    }
    
    .divisionFooter{
        width: 50rem;
        margin-left: 15rem;
    }

    footer{
        text-align: center;
        width: 50rem;
        grid-template-areas: "news"
                            "nav"
                            "copy";
        margin-left: 15rem;                        
    
    }

    .prueba {
        position: absolute;
        top: 45vh;
        left: 20vw;
    }
    .prueba2{
        position: absolute;
        background-color: rgba($color: $background, $alpha: 0.8);
        transition: 0.6s;
        z-index: 480;
        width: 15rem;
    }
}

@media only screen and (max-width: 320px){
        body{
            width: 100vw;
            text-align: center;
        }
        header{
            display: flex;
            flex-direction: row;
            width: 50px;
            text-align: center;
            
            .header__logo{
                margin-left: 0rem;
            }
                .logo {
                    width: 100px;
                    margin-left: auto;
                }
                
            h1 {
                font-size: 5rem;
            }
            
        }
        .buscador{
            margin-top: 2rem;
            margin-left: 10rem;
            text-align: center;
        }
        .articulos{
            display: inline-block;
            width: 100vw;
            margin-left: 0px;
            
            .divisionArticulosV{
                display: none;
            }
        }
        .blog{
            display: inline-block;
            
            .divisionArticulosV{
                display: none;
            }
        }
        .sobreMi{
            width: 70rem;
            border-radius: 20%;
        }
        
        .divisionFooter{
            width: 50rem;
            margin-left: 3rem;
        }
    
        footer{
            text-align: center;
            width: 50rem;
            grid-template-areas: "news"
                                "nav"
                                "copy";
            margin-left: 3rem;                        
        
        }
    
}