@media only screen and (max-width: 768px){
    
    header{
        display: flex;
        flex-direction: row;
        width: 50px;
        text-align: center;
        
        .header__logo{
            margin-left: 10rem;
        }
            .logo {
                width: 200px;
                margin-left: auto;
            }
            
        h1 {
            font-size: 5rem;
        }
        
    }
    
    .buscador{
        margin: 5rem 75rem 2rem 7rem;
        width: 60%;
    }
    
    .articulos{
        display: inline-block;
        
        .divisionArticulosV{
            display: none;
        }
    }
    
    .blog{
        display: inline-block;
        
        .divisionArticulosV{
            display: none;
        }
    }
    
    .sobreMi{
        width: 70rem;
        border-radius: 20%;
    }
    
    .contacto{
        
    }
    
    .divisionFooter{
        width: 50rem;
        margin-left: 15rem;
    }

    footer{
        text-align: center;
        width: 50rem;
        grid-template-areas: "news"
                            "nav"
                            "copy";
        margin-left: 15rem;                        
    
    }

    .prueba {
        position: absolute;
        top: 45vh;
        left: 20vw;
    }
    .prueba2{
        position: absolute;
        background-color: rgba($color: $background, $alpha: 0.8);
        transition: 0.6s;
        z-index: 480;
        width: 15rem;
    }
}